
<div class="container bg-info">
 <div class="row">
  <div class="col-md-8 offset-md-2">
    <input type="text" class="form-control m-3"
    [(ngModel)]="searchvalue" >
    <div class="table-responsive">
      <table class="table table-bordered m-3">
             <thead>
                  <tr>
                    <th>Sr.No</th>
                     <th>Name</th>
                     <th>Age</th>
                     <th>Grade</th>
                     <th>Major</th>
                 </tr>
             </thead>
             <tbody>
                 <tr *ngFor="let student of Arrayofstudent | studentfilter : searchvalue; index as i">
                     <th>{{i + 1}}</th>
                     <th>{{student.name}}</th>
                     <th>{{student.age}}</th>
                     <th>{{student.grade}}</th>
                     <th>{{student.major}}</th>
                 </tr>
             </tbody>
      </table>
    </div>
  </div>
 </div>
</div>